<div class="p-5 mb-4 bg-secondary bg-opacity-25 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Calendário de Eventos <br>TokenLab</brm>
        </h1>
        <p class="lead col-md-8 fs-4">Fique por dentro de tudo que aconte por aí</p>
        <hr class="my-4">
        <p class="col-md-8 fs-4">Crie sua conta e fique onde seus amigos estarão!</p>
        <a href="/usuarios/registro"><button class="btn btn-primary btn-lg" type="button">Cadastre-se</button></a>
    </div>
</div>